*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height:100%;        
}

body{
    display:flex;
    background-color: rgb(247, 245, 245);
    flex-direction: column;
    
    

}
header{
    display: flex;
    background-color: white;    
    width: 100%;
    height: 50px;
    justify-content:space-between;
    border: 1px;
    border-color: thistle;
    
}
#VA{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-content:center ;
    
}

form{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

#I{
   display: flex;
    width: 100px;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
    height: 50%;
    margin-left: 90px;
    cursor:pointer;
   
}

#search{
    display: flex;
    width: 150px;
    justify-content: center;
    align-content: center;
    height: 50%;
    margin-left: 450px;
    margin-top: 10px;
    outline: none;
    border:1px solid rgb(122, 120, 120);
    text-align: center;
    background-color: rgb(247, 245, 245);
}

#b{
    display: inline-block;
    margin-left: 400px;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 5px;
}

#H{
    width: 20px;
    padding: 10px;
    cursor:pointer;
}
#O{
    width: 20px;
    padding: 10px;
    cursor:pointer;
    
    
}
#B{
    width: 20px;
    padding: 10px;
    cursor:pointer;

}
#C{
    width: 20px;
    padding: 10px;
    cursor:pointer;
    
}

#E{
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    cursor:pointer;
}
#F{
    display:flex;
    width: 40%;
    height: 40%;
    background-color: rgb(247, 245, 245);

}
#M{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 1200px;
    margin-left: 10%;
    background-color: #fff;
    margin-top: 10%;
    height: 300px;
    align-items:center;
}
#PB{
    display: flex;
    width: 60%;
    margin-top: 10%;
    margin-bottom: 20%;
    background-color: white;
    justify-content: center;


}
#PAME{
    display: inline-block;
    flex-direction:row;
    align-items: center;
    width: 80%;
    margin-right: 50%;
    align-items: center;
    justify-content: center;
    
}
.M{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    width: 100;
}